body {
    font-family: 'Open Sans';
}

header {
    background: #669966;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
    padding: 0 50px;
}

.navbar-brand {
    display: none;
}

nav {
    width: 1400px;
    margin: 0 auto;
    padding: 0;
}

nav svg {
    display: none;
    margin: 8px;
    width: 150px;
    height: 54px;
}

.navbar-nav {
    height: 64px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar-nav ul:first-child {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 18px;
    color: #DFDFDF;
}

.navbar-nav ul:last-child {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.m-version-icons {
    display: none;

}
/* иконка корзины */
header ul:last-child li i {
    font-size: 20px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.top-logo-search-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.top-logo-search-info-block-upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-and-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.top-logo-search-info-block svg, footer svg {
    width: 150px;
    height: 60px;
    align-self: center;
}

.top-logo-search-info-block input[type="search"] {
    width: 341px;
    height: 40px;
    background: #F3F3F3;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 47px;
    padding-left: 30px;
}

.top-logo-search-info-block-upper {
    height: 150px;
}

.top-logo-search-info-block-upper ul {
    display: flex;
    flex-direction: column;
    height: 60px;
    min-width: 169px;
    justify-content: space-between;
}

.top-logo-search-info-block-upper li {
    font-size: 16px;
    color: #636363;
}

.top-logo-search-info-block-upper li:first-child {
    font-weight: 600;
    font-size: 16px;
    color: #3F3F3F;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.top-logo-search-info-block-lower {
    width: 732px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}

.top-logo-search-info-block-lower ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.line {
    width: 732px;
    height: 5px;
    background: #F6F6F6;
    border-radius: 26px;
}

.line span {
    display: inline-block;
    width: 41px;
    height: 5px;
    background: #669966;
    border-radius: 26px;
    position: relative;
    top: -9px;
}

.top-logo-search-info-block-lower li {
    font-size: 21px;
    line-height: 29px;
    color: #636363;
}


.top-slider, .carousel {
    margin: 100px auto 0;
    width: 100%;
    height: 478px;
}

.w-100 {
    width: 1300px;
}

.carousel-control-prev-icon {
    background-image: url("../img/left-ar.png");
    height: 3rem;
    filter: drop-shadow(2px 4px 6px gray);
}

.carousel-control-next-icon {
    background-image: url("../img/right-ar.png");
    height: 3rem;
    filter: drop-shadow(2px 4px 6px gray);
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

a[role="button"] {
    height: 516px;
}


.top-slider-info-wrap {
    position: relative;
    bottom: 380px;
    left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 270px;
}

.slider-title {
    font-weight: bold;
    font-size: 40px;
    color: #3F3F3F;
}

.slider-text {
    font-size: 18px;
    color: #999999;
    width: 400px;
}

.btn-green {
    width: 305px;
    height: 53px;
    background: #669966;
    border-radius: 42px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-section h3 {
    margin: 100px 0 30px;
    font-weight: bold;
    font-size: 33px;
    color: #3F3F3F;
}

.ps-top-block, .ps-bottom-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.ps-top-block div:first-child {
    width: 793px;
    height: 323px;
    background: url("../img/tea.jpg") bottom no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-right: 30px;
}

.ps-top-block div:last-child {
    width: 387px;
    height: 323px;
    background: url("../img/coffe.jpg") bottom no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.ps-bottom-block div:first-child {
    width: 387px;
    height: 323px;
    background: url("../img/sweets.jpg") bottom no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-right: 30px;
}

.ps-bottom-block div:nth-child(2) {
    width: 488px;
    height: 323px;
    background: url("../img/atributes.jpg") bottom no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-right: 30px;
}

.ps-bottom-block div:last-child {
    width: 285px;
    height: 323px;
    background: url("../img/sale.png") bottom no-repeat, #E7E7E7;
    background-size: cover;
    border-radius: 20px;
}

.product-section p {
    font-weight: 600;
    font-size: 27px;
    color: #3F3F3F;
    margin: 30px 25px;
}

.ps-top-block div:hover, .ps-bottom-block div:hover {
    filter: drop-shadow(-10px -10px 20px rgba(245, 245, 245, 1));
}

.best-products, .products-onSale {
    margin-top: 100px;
}


.best-products-section, .products-onSale-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.best-products h3, .products-onSale h3 {
    font-weight: bold;
    font-size: 33px;
    color: #3F3F3F;
    margin-bottom: 50px;
    text-align: center;
}


.best-products-section > div, .products-onSale-section > div {
    width: 285px;
    min-width: 240px;
    height: 555px;
    box-shadow: 0 6px 7px 0px rgba(50, 50, 50, 0.39);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.best-products-section > div:last-child, .products-onSale-section > div:last-child {
    margin-right: 0;
}

.product-head {
    margin: 30px auto 0;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.product-star:after {
    content: "4.7";
    font-size: 18px;
    color: #999999;
    position: relative;
    top: 3px;
    right: -2px;
}

.product-star svg {
    width: 24px;
    height: 24px;
}

.product-heart svg {
    width: 29px;
    height: 26px;
}

.product-img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

.product-info {
    width: 90%;
    margin: 0 auto;
}

.product-info-big {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.product-title {
    font-weight: 600;
    font-size: 21px;
    color: #3F3F3F;
    margin-bottom: 15px;
}

.product-type-of-tea {
    font-weight: 600;
    font-size: 16px;
    color: #999999;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    line-height: 19px;
    color: #999999;
}

.product-price:before {
    content: "100 гр. /";
    font-size: 18px;
    margin-right: 5px;
}

.product-price, .product-price-onSale {
    font-weight: 600;
    font-size: 21px;
    width: 90%;
    margin: 0 auto;
}

.best-products-section .btn-green, .products-onSale-section .btn-green {
    width: 90%;
    margin: 0 auto 20px;
}

.best-products .product_1 .product-img {
    background: url("../img/show-mey.png") no-repeat center;
}

.best-products .product_2 .product-img {
    background: url("../img/uan-un.png") no-repeat center;
}

.best-products .product_3 .product-img {
    background: url("../img/bai-mu-dan.png") no-repeat center;
}

.best-products .product_4 .product-img {
    background: url("../img/lushan-un.png") no-repeat center;
}

.product-price-onSale {
    color: red;
}

.product-price-onSale:before {
    content: "20 BYR";
    text-decoration: line-through;
    font-size: 18px;
    color: gray;
    margin: 0 5px;
}

.nav-buttons {
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    color: #669966;
}

.nav-buttons i:last-child {
    margin-left: 50px;
}

.products-onSale .product_1 .product-img {
    background: url("../img/show-mey.png") no-repeat center;
}

.products-onSale .product_2 .product-img {
    background: url("../img/uan-un.png") no-repeat center;
}

.products-onSale .product_3 .product-img {
    background: url("../img/bai-mu-dan.png") no-repeat center;
}

.products-onSale .product_4 .product-img {
    background: url("../img/lushan-un.png") no-repeat center;
}

.bottom-subscribe-banner {
    margin: 100px auto 0;
    width: 100%;
    height: 516px;
    background: url("../img/bottom-banner-pic.png") no-repeat top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-subscribe-banner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    height: 300px;
}

.bottom-subscribe-banner-title {
    width: 415px;
    font-weight: bold;
    font-size: 30px;
    color: #3F3F3F;
}

.bottom-subscribe-banner input[type="email"] {
    width: 325px;
    height: 53px;
    background: #FFFFFF;
    border-radius: 42px;
    padding-left: 30px;
    border: 1px solid #EAEAEA;
}

.email-input-block .btn-green {
    width: 203px;
    height: 53px;
    background: #669966;
    border-radius: 42px;
    position: relative;
    bottom: 55px;
    left: 250px;
}

.email-input-block {
    height: 55px;
}

footer {
    background: #4F6C4F;
    height: 339px;
    display: flex;
    align-items: center;
}

.footer-wrap {
    margin: 0 auto;
    width: 1300px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

footer .logo-and-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

footer .logo-and-socials svg {
    align-self: flex-start;
}

.footer-socials {
    display: flex;
    font-size: 45px;
    color: white;
    width: 200px;
    justify-content: space-between;
}

.footer-wrap > ul li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #DFDFDF;
}

.footer-wrap > ul li:first-child {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-wrap .phone-and-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.footer-wrap .phone-and-address ul li {
    margin-bottom: 10px;
    color: #DFDFDF;
}

.footer-wrap .phone-and-address ul li:first-child {
    color: white;
}

.footer-wrap .phone-and-address i {
    margin-right: 5px;
}

@media all and (max-width: 1300px) {
    .best-products-section, .products-onSale-section {
        width: 100%;
    }
}

@media all and (max-width: 1060px) {
    .navbar {
        padding: 0 10px;
    }
    .best-products-section, .products-onSale-section {
        flex-wrap: wrap;
        width: 100%;
        height: 510px;
    }

    .product-head {
        display: none;
    }

    .product-description {
        display: none;
    }

    .best-products-section > div, .products-onSale-section > div {
        width: 49%;
        height: 240px;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        margin-right: 0;
    }

    .product-info-big {
        width: 50%;
        height: 170px;
    }

    .product-info-big .btn-green {
        margin-bottom: 0;
    }

    .product-price-onSale:before {
        content: "\A 20 BYR";
        white-space: pre;
    }

    .top-slider-info-wrap {
        left: 218px;
    }

    .top-logo-search-info-block {
        padding: 0;
    }

    .footer-wrap {
        padding: 20px;
    }
}

@media all and (max-width: 991px) {
    .navbar-brand  {
        display: block;
    }
    nav svg {
        display: block;
    }
    nav ul:first-child {
        flex-direction: column;
        margin: 30px;
        width: auto;
    }
    nav ul:first-child li, nav ul:last-child li {
        margin-bottom: 10px;
    }
    nav ul:last-child {
        margin: 0 30px 30px;
    }
    .navbar-nav {
        height: unset;
        align-items: flex-start;
    }
    .m-version-icons {
        display: block;
        margin-right: 50px;
    }
    .nav-and-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 30px;
    }
    .nav-and-icons i {
        margin-right: 10px;
    }
    .form-and-info-block > ul:last-child{
        display: none;
    }
    .top-logo-search-info-block svg, .top-logo-search-info-block > ul:first-child {
        display: none;
    }
    .form-and-info-block, .form-and-info-block form, .top-logo-search-info-block input[type="search"] {
        width: 100%;
    }
}
